/*General stuff*/
html {
	font-family: arial;
}
body {
	margin: 0%;
	background-color: #D0D3D2;
}
/*link properties*/
a {
	text-decoration: none;
	color: #505454;
}
/*Grid stuff*/
.grid {
	display: grid;
	align-items: flex-start;
}
.columns {
	display: flex;
	margin: 0;
}
/*Top of the site css*/
.col-1 {
	width: 100vw;
}
.banner {
	background-color: #982649;
	display: flex;
	justify-content: center;
}
.logo {
	height: auto;
	width: 6.75vw;
}
/*Nav*/
header {
	width: 100vw;
	text-align: center;
	background-color: #982649;
}
nav ul {
	width: 100vw;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav li {
	margin: 0 1rem;
}

nav a {
	text-decoration: none;
	color: black;
	font-weight: 600;
	padding: 0.25rem 0;
}

nav a:hover {
	color: white;
}

nav a:focus {
	color: white;
}
/*Dropdown*/
.dropdown {
	position: relative;
	display: inline-block;
	width: 5rem;
}
.drp-content {
	display: none;
	position: absolute;
	z-index: 9;
}
.dropdown:hover .drp-content {
	display: block;
}
.drp-btn {
	display: block;
	border: none;
	background-color: #982649;
	width: 5rem;
	font-size: 0.8rem;
}
/*Current page underline and hover*/
.current-page {
	border-bottom: 3px solid black;
}
.current-page:hover {
	color: black;
}
/*Buttons on top menu*/
.top-menu-button {
	border: none;
	margin: 0;
	padding: 0;
	background-color: #982649;
	font-weight: 600;
	font-size: 1rem;
}
.top-menu-button:hover{
	cursor: pointer;
	color: white;
}
/*Middle containers for filter divs*/
.middle {
	justify-content: left;
}
.container {
	overflow: hidden;
}
/*Filter div stuff*/
.filterDiv {
	display: none;
	float: left;
	background-color: #74AED2;
	height: 10vw;
	width: 33vw;
	text-align: center;
	line-height: 2rem;
}
.filterDiv:hover {
	background-color: grey;
	font-size: 1.2rem;
}
/*Filter stuff*/
.show {
	display: block;
}
.btn {
	border: none;
	outline: none;
	padding: 0.6rem 0.8rem;
	background-color: #f1f1f1;
	cursor: pointer;
}
.btn2 {
	border: none;
	outline: none;
	padding: 0.6rem 0.8rem;
	background-color: #f1f1f1;
	cursor: pointer;
}
.btn:hover {
	background-color: #ddd;
}
.btn.active {
	background-color: #666;
	color: white;
}
/*Band page*/
.bandSite {
	float: left;
	width: 70vw;
	padding-left: 10vw;
	padding-right: 20vw;
	padding-top: 10vw;
	padding-bottom: 20vw;
	background-color: #74AED2;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}
/*Media querys*/
@media (max-width: 600px){
	.columns {
		flex-direction: column;
	}
	.logo {
		width: 15vw;
		height: auto;
	}
	.col-1{
		width: 100vw;
	}
	.filterDiv {
		width: 100vw;
		height: 20vh;
	}
	.filterDiv:hover {
		font-size: 1.1rem;
	}
	.drp-btn {
		width: 10rem;
		font-size: 1.2rem;
	}
	.bandSite {
		width: 100vw;
		height: 100vh;
		font-size: 1.2rem;
		background: orange;
	}
}